.about-container {
  display: flex;
  background-color: white;
  color: black;
  height: 70vh;
  padding: 100px 50px 100px 50px;
  gap: 50px;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 0 100px 0 100px;
}

.about-desc > h3 {
  margin-bottom: 30px;
  font-size: 40px;
}

.about-desc > p {
  line-height: 1.5;
  text-align: justify;
  font-size: 24px;
  font-family: sans-serif;
}

.about-img {
  width: 32%;
  height: 130%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16%;
  padding: 20px;
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 20px;
    height: auto;
    gap: 30px;
  }

  .about-desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc > h3 {
    font-size: 20px;
    text-align: center;
  }

  .about-img {
    width: 90%;
    height: 300px;
    margin: 0 auto 50px auto;
    padding: 15px;
  }

  .about-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
